.errorMessage {
	color:#bd171c;
}

main{
	margin-bottom:150px;
}


footer{
	color:white;
	background-color: #555;
	text-align: center;
	margin-top:100px;
	padding-top:20px;
}

footer a {
	color:#f24f11;
}
footer a:hover {
	color: #ff6633;
}

.glyphicon{
	font-size:130%;
}

#logo{
	margin-bottom:5px;
}
